:root {
	--primary-color: black;
	--secondary-color: #f5f2fe;
	--box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
	--heading-font-family: "Playfair Display", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	background: white;
}
h1,
h2,
h3 {
	text-align: center;
}

h1 {
	font-size: 46px;
	font-family: "Playfair Display", serif;
	font-weight: 700px;
	color: var(--primary-color);
}

h2 {
	font-size: 36px;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: #ec615b;
}

h3 {
	font-size: 24px;
	font-family: var(--default-font-family);
	font-weight: 400px;
	line-height: 36px;
}

body {
	overflow-x: hidden;
}

.about-me {
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
}

div.col-md-6 {
	padding: 0%;
	margin: 0%;
}

div.container-fluid {
	padding: 0%;
}
.projects {
	text-align: center;
	font-family: var(--default-font-family);
	font-size: 18px;
	line-height: 27px;
	margin-top: -59px;
	font-weight: 400px;
	text-shadow: var(--box-shadow);
}

.hero {
	text-align: center;
	background: url(images/bac.png);
	background-size: contain;
}
.bg {
	background: url(images/back.png);
	background-size: contain;
}
.welcome-section {
	font-size: 54px;
}

.btn-branding {
	font-family: var(--default-font-family);
	margin-top: 49px;
	background: var(--primary-color);
	border-radius: 4px;
	color: var(--secondary-color);
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	transition: 500ms ease-in-out;
}
.btn-branding:hover {
	background: white;
	color: black;
	border-color: black;
}

.about-paragraphs {
	display: flex;
	margin: 30px 0;
}

.about-paragraphs p {
	margin: 10px;
	color: black;
}

.weather-image {
	width: 450px;
	margin-top: 90px;
}

.email-link {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
}

.conteiner {
	padding: 0;
}

.about-app {
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: var(--default-font-family);
	font-weight: 400;
	color: black;
	font-size: 16px;
	margin-left: 50px;
	padding-bottom: 50px;
	max-width: 500px;
}

.link {
	border-radius: 4px;
	padding: 15px 30px;
	text-decoration: none;
	text-transform: capitalize;
	background: white;
	font-family: var(--default-font-family);
	font-weight: 500px;
	color: #ec615b;
	border: 1px solid #ec615b;
	margin-left: 60px;
	transition: 500ms ease-in-out;
}

a:hover {
	text-decoration: none;
}

.head {
	text-align: left;
	margin-top: 130px;
	font-family: var(--heading-font-family);
	font-size: 64px;
	margin-left: 60px;
	color: black;
}

.painter {
	width: 440px;
	margin-top: 130px;
	margin-left: 170px;
}

.image {
	margin-bottom: 60px;
	padding: 0;
	width: 500px;
}

@media (max-width: 600px) {
	.link {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	.email-link {
		font-size: 20px;
	}
	.contactMe {
		margin-top: 10px;
		font-size: 20px;
	}

	.navigation-links a {
		font-size: 15px;
		padding: 12px;
	}
}

.heading {
	font-family: var(--heading-font-family);
	font-size: 64px;
	color: black;
	text-align: left;
}
.conteiner h3 {
	font-family: var(--default-font-family);
	font-size: 19px;
	text-align: left;
}
.conteiner {
	margin-left: 160px;
}
.conteiner p {
	color: black;
	text-align: left;
	margin-right: 50px;
	margin-bottom: 60px;
}

.image {
	width: 480px;
	margin-top: 40px;
}

.link-project {
	border-radius: 4px;
	padding: 15px 15px;
	text-decoration: none;
	text-transform: capitalize;
	background: white;
	font-family: var(--default-font-family);
	color: #ec615b;
	border: 1px solid #ec615b;
	transition: 500ms ease-in-out;
}

@media (max-width: 600px) {
	.heading {
		font-size: 32px;
		text-align: center;
	}
	.conteiner h3 {
		text-align: center;
		font-size: 16px;
	}
	.conteiner p {
		text-align: center;
		margin-left: 29px;
	}
	.conteiner {
		margin-left: 15px;
	}
	.image {
		width: 250px;
		display: block;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 65px;
	}

	.link-project {
		display: block;
		margin: 0 auto;
		margin-top: 60px;
	}
}

@media (max-width: 1100px) {
	.link-project {
		display: block;
		margin: 0 auto;
		margin-top: 60px;
	}
}

.aboutMe-section {
	margin-top: 120px;
}

footer {
	margin-top: 170px;
	text-align: center;
	background: url(images/bac.png);
	background-size: 500px;
}

.mygmail {
	color: black;
	font-size: 18px;
	font-family: var(--default-font-family);
	transition: 500ms ease-in-out;
}

.icon {
	font-size: 28px;
	margin: 0px 10px;
	color: black;
	transition: 500ms ease-in-out;
}
.mygmail:hover,
.icon:hover {
	color: #ec615b;
}

.icons {
	margin-top: 50px;
}

.sentance {
	text-align: center;
	font-size: 29px;
	font-family: var(--default-font-family);
	margin-top: 100px;
	text-shadow: var(--box-shadow);
}

.link:hover,
.link-project:hover {
	color: black;
	border-color: black;
}

.box {
	border: 2px solid black;
	padding: 30px;
	border-radius: 7px;
	margin-top: 70px;
	max-width: 900px;
	margin-left: 50px;
}

p {
	font-family: var(--default-font-family);
	font-weight: 200;
}

@media (max-width: 1000px) {
	h1.head {
		font-size: 26px;
	}
	a.link {
		margin: 15px;
	}

	a.link-project {
		margin: 105px;
		text-align: center;
	}
	.icons {
		margin-bottom: 2px;
	}

	.sentance {
		font-size: 20px;
	}
	h2.head {
		font-size: 45px;
	}

	h1.welcome-section {
		font-size: 45px;
	}
	div.box {
		display: block;
		margin: 30px;
	}

	.img {
		display: block;
		margin: 90px;
	}
}

header {
	background-color: white;
}
li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

.navbar {
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	margin-bottom: 130px;
}

.scroll-tracker {
	height: 5px;
	background-color: whitesmoke;
	position: fixed;
	inset: 0 0 auto;
}

a.nav-link {
	font-size: 19px;
	margin-top: 15px;
	font-family: var(--default-font-family);
	transition: 500ms ease-in-out;
}
.nav-branding {
	margin-top: -40px;
}
a.nav-link:hover {
	color: #ec615b;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.nav-branding {
	font-size: 2rem;
}
.nav-link {
	transition: 0, 7s ease;
}

.nav-link:hover {
	color: #ec615b;
}

.burger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: black;
}

@media (max-width: 768px) {
	.burger {
		display: block;
	}
	.burger.active.bar:nth-child(2) {
		opacity: 0;
	}
	.burger.active.bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.burger.active.bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		position: absolute;
		left: -100%;
		top: 48px;
		gap: 0px;
		flex-direction: column;
		background-color: white;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	.space {
		margin-bottom: 150px;
	}

	h1.welcome-section {
		padding-top: 10px;
	}

	p {
		font-size: 14px;
	}
	a.nav-link {
		font-size: 17px;
		font-family: var(--default-font-family);
		transition: 500ms ease-in-out;
	}
	a.nav-link:hover {
		color: #ec615b;
	}

	.nav-branding {
		margin-top: 2px;
	}

	.nav-item {
		margin: 1px 0;
	}
	.nav-menu.active {
		left: 0;
	}
}
