:root {
	--primary-color: black;
	--secondary-color: #f5f2fe;
	--box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
	--heading-font-family: "Playfair Display", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	background: white;
}
h1,
h2,
h3 {
	text-align: center;
}

h1 {
	font-size: 46px;
	font-family: "Playfair Display", serif;
	font-weight: 700px;
	color: var(--primary-color);
}

h2 {
	font-size: 36px;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: #ec615b;
}

h3 {
	font-size: 24px;
	font-family: var(--default-font-family);
	font-weight: 400px;
	line-height: 36px;
}

.about-me {
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
}

.projects {
	text-align: center;
	font-family: var(--default-font-family);
	font-size: 18px;
	line-height: 27px;
	margin-top: -59px;
	font-weight: 400px;
	text-shadow: var(--box-shadow);
}

.hero {
	background: white;
	text-align: center;
	background: url(images/bac.png);
	background-size: contain;
}
.bg {
	background: url(images/back.png);
	background-size: contain;
}
.welcome-section {
	font-size: 54px;
}

.btn-branding {
	font-family: var(--default-font-family);
	margin-top: 49px;
	background: var(--primary-color);
	border-radius: 4px;
	color: var(--secondary-color);
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
	transition: 500ms ease-in-out;
}
.btn-branding:hover {
	background: white;
	color: black;
	border-color: black;
}

.about-paragraphs {
	display: flex;
	margin: 30px 0;
}

.about-paragraphs p {
	margin: 10px;
	color: black;
}

.weather-image {
	width: 550px;
	margin-top: 90px;
	width: 600px;
	position: unset;
}

.email-link {
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 28px;
	text-decoration: none;
}

.about-app {
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: var(--default-font-family);
	font-weight: 400;
	color: black;
	font-size: 16px;
	margin-left: 50px;
	padding-bottom: 50px;
	max-width: 500px;
}

.link {
	border-radius: 4px;
	padding: 15px 30px;
	text-decoration: none;
	text-transform: capitalize;
	background: white;
	font-family: var(--default-font-family);
	font-weight: 500px;
	color: #ec615b;
	border: 1px solid #ec615b;
	margin-left: 60px;
	transition: 500ms ease-in-out;
}

a:hover {
	text-decoration: none;
}


.head {
	text-align: left;
	margin-top: 130px;
	font-family: var(--heading-font-family);
	font-size: 64px;
	margin-left: 60px;
	color: black;
}

.painter {
	width: 440px;
	margin-top: 130px;
	margin-left: 170px;
}

.image {
	margin-bottom: 60px;
}

@media (max-width: 600px) {
	.link {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	.email-link {
		font-size: 20px;
	}
	.contactMe {
		margin-top: 10px;
		font-size: 20px;
	}

	.navigation-links a {
		font-size: 15px;
		padding: 12px;
	}
}

.heading {
	font-family: var(--heading-font-family);
	font-size: 64px;
	color: black;
	text-align: left;
}
.conteiner h3 {
	font-family: var(--default-font-family);
	font-size: 19px;
	text-align: left;
}
.conteiner {
	margin-left: 160px;
}
.conteiner p {
	color: black;
	text-align: left;
	margin-right: 50px;
	margin-bottom: 0px;
}

.image {
	width: 580px;
	margin-top: 40px;
}

.collapse {
	background-color: white;
}

.link-project {
	border-radius: 4px;
	padding: 15px 15px;
	text-decoration: none;
	text-transform: capitalize;
	background: white;
	font-family: var(--default-font-family);
	font-weight: 500px;
	color: #ec615b;
	border: 1px solid #ec615b;
	margin-left: 10px;
	margin-top: -150px;
	margin-bottom: 150px;
	transition: 500ms ease-in-out;
}

@media (max-width: 600px) {
	.heading {
		font-size: 32px;
		text-align: center;
	}
	.conteiner h3 {
		text-align: center;
		font-size: 16px;
	}
	.conteiner p {
		text-align: center;
		margin-left: 29px;
	}
	.conteiner {
		margin-left: 15px;
	}
	.image {
		width: 250px;
		display: block;
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 65px;
	}

	.link-project {
		display: block;
		margin: 0 auto;
		margin-top: 60px;
	}
}

@media (max-width: 1100px) {
	.link-project {
		display: block;
		margin: 0 auto;
		margin-top: 60px;
	}
}

.scroll-tracker {
	height: 5px;
	background-color: whitesmoke;
	position: fixed;
	inset: 0 0 auto;
}

.aboutMe-section {
	margin-top: 120px;
}

footer {
	margin-top: 170px;
	text-align: center;
	background: url(images/bac.png);
	background-size: 500px;
}

.mygmail {
	color: black;
	font-size: 18px;
	font-family: var(--default-font-family);
	transition: 500ms ease-in-out;
}

.icon {
	font-size: 28px;
	margin: 10px;
	color: black;
	transition: 500ms ease-in-out;
}
.mygmail:hover,
.icon:hover {
	color: #ec615b;
}

.icons {
	margin-top: 50px;
}

.sentance {
	text-align: center;
	font-size: 29px;
	font-family: var(--default-font-family);
	margin-top: 100px;
	text-shadow: var(--box-shadow);
}

.link:hover,
.link-project:hover {
	color: black;
	border-color: black;
}

.box{
	border: 2px solid black;
	padding: 30px;
	border-radius: 7px;
	margin-top: 70px;
	max-width: 900px;
	margin-left: 50px;

}

p{
	font-family: var(--default-font-family);
	font-weight: 200;
}

@media(max-width:1000px){
	h1.head{
		font-size: 26px;

	}
	a.link{
		margin: 15px;
	}
	
	a.link-project{
		margin: 45px;
	}

	.icons{
		margin: 40px;
	}
	.sentance{
		font-size: 20px;
	}
	h2.head{
		font-size: 45px;
	}

	h1.welcome-section{
		font-size: 45px;
	}
	div.box{
		display: block;
		margin: 30px;
	}

	.img{
		display: block;
		margin: 90px;
	}
}

